APP_NAME="Padel Booking"
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:yFhMqqN6rRKCobN2l3q+4CJ8s7ZRWB6w0cf72e0tHfk=
APP_URL=https://padel.ngodingyuk.site

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=padel
DB_USERNAME=padel
DB_PASSWORD=ChangeMe

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=redis
REDIS_PORT=6379

MAIL_MAILER=log

SANCTUM_STATEFUL_DOMAINS=padel.ngodingyuk.site,localhost
SESSION_DOMAIN=.ngodingyuk.site

PAYMENT_GATEWAY=DummyPaymentGateway
